:root {
	--ft-size: 18px;
}

html {
	user-select: none;
	font-size: var(--ft-size);
}

.category-chip {
	border-radius: var(--bd-radius);
	cursor: pointer;
}

input {
	user-select: text;
}

footer {
	margin-top: 100px;
	margin-bottom: 25px;
}


/*portrait / landscape TABLET */
@media (600px <= width <= 675px) and (orientation: portrait) {
	:root {
		--ft-size: 14px;
	}

	h1 {
		font-size: 16px;
	}

	#filteredSongsListContainer {
		column-count: 2;
	}
}

@media (870px <= width <= 970px) and (orientation: landscape) {
	:root {
		--ft-size: 12px;
	}

	h1 {
		font-size: 16px;
	}

	#filteredSongsListContainer {
		column-count: 3;
	}
}


/*portrait / landscape CELL */
@media (300px <= width <= 390px) and (orientation: portrait) {
	:root {
		--ft-size: 17px;
	}

	h1 {
		font-size: 22px;
	}

	body {
		padding: 0;
		margin: 0;
	}
}

@media (820px <= width <= 870px) and (orientation: landscape) {
	:root {
		--ft-size: 18px;
	}

	h1 {
		font-size: 22px;
	}

	#filteredSongsListContainer {
		column-count: 2;
	}
}

@media screen and (width > 970px) {
	:root {
		--ft-size: 14px;
	}

	h1 {
		font-size: 22px;
	}
	#filteredSongsListContainer {
		column-count: 3;
	}
}