:root {
	--ft-size: 18px;
}

html {
	user-select: none;
	font-size: var(--ft-size);
}

h1 {
	font-size: 20px;
}

#transpositionButtons {
	font-size: 16px;
}

#songControlButtons {
	white-space: nowrap;
}

#songMaximizationArea:fullscreen {
	overflow-x: auto;
	scrollbar-width: thin;
	background-color: #000;
	position: relative;
}

#songMaximizationArea:fullscreen #songText-processed {
	background-color: #000;
	color: #c9ffdb;
	font-weight: bold;
}

#songMaximizationArea:fullscreen #closeFullscreen {
	display: block;
}

#closeFullscreen {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	zoom: .8;
}

#songText-processed {
	width: fit-content;
}

.chord {
	color: rgb(69, 212, 26);
	font-weight: bold;
}

footer {
	margin-top: 100px;
	margin-bottom: 25px;
}







@media (orientation: portrait) and (width < 300px) {
	:root {
		--ft-size: 14px;
	}

	body {
		padding: 0;
		margin: 0;
	}

	pre {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 15px;
	}

	#transpositionButtons {
		font-size: 15px;
	}
}

@media (orientation:portrait) and (width<400px) {
	#transpositionButtons {
		margin-top: 10px
	}
}

@media (orientation: portrait) and (300px <=width <=400px) {
	:root {
		--ft-size: 17px;
	}

	body {
		padding: 0;
		margin: 0;
	}

	pre {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 19px;
	}

	#transpositionButtons {
		font-size: 17px;
	}
}

@media (orientation: portrait) and (400px <=width <=600px) {
	:root {
		--ft-size: 14px;
	}

	body {
		padding: 0;
		margin: 0;
	}

	pre {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}

	h1 {
		font-size: 16px;
	}

	#songText-processed {
		font-size: 16px;
	}
}

@media (orientation: portrait) and (600px <=width <=675px) {
	:root {
		--ft-size: 14px;
	}

	h1 {
		font-size: 16px;
	}

	#songText-processed {
		font-size: 16px;
	}
}

@media (orientation: portrait) and (width> 675px) {
	:root {
		--ft-size: 13px;
	}

	h1 {
		font-size: 16px;
	}

	#songText-processed {
		font-size: 15px;
	}

	#transpositionButtons {
		font-size: 15px;
	}
}







@media (orientation: landscape) and (width < 820px) {
	:root {
		--ft-size: 16px;
	}
	h1{
		font-size: 18px;
	}
}

@media (orientation: landscape) and (820px <=width <=870px) {
	:root {
		--ft-size: 16px;
	}
	h1{
		font-size: 20px;
	}
	#songText-processed {
		font-size: 16px;
	}
}

@media (orientation: landscape) and (870px <=width <=970px) {
	:root {
		--ft-size: 14px;
	}

	h1 {
		font-size: 19px;
	}
	#songText-processed {
		font-size: 15px;
	}
}

@media (orientation: landscape) and (width > 970px) {
	:root {
		--ft-size: 14px;
	}

	h1 {
		font-size: 16px;
	}

	#songText-processed {
		font-size: 14px;
	}
}